
#add{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#processes{
    margin: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
}

.process{
    border: 1px solid black;
    padding: 10px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    place-items: center;
    justify-items: start;
    position: relative;
}

.info-section{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: center;
    justify-items: start;
}

.name{
    margin: 0;
}
.cmd{
    display: none;
}


.status{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 5px;
    justify-self: center;
}

.status.running{
    background-color: green;
}

.status.stopped{
    background-color: red;
}


.rem-btn{
    position: absolute;
    right: 0px;
    top: 0px;

    background-color: transparent;
    border: none;
}